body {font-family:'Open Sans', sans-serif;color:#fff;background:#000 url(/city.png) left bottom repeat-x;}

#navigation {margin:50px;width:250px;}

#navigation #map {background:transparent url(/map.png) left top no-repeat;width:250px;height:250px;position:relative;}
#navigation #map div {position:absolute;width:68px;height:68px;border:1px solid #fff;cursor:pointer;}
#navigation #map div:hover {border-color:#d2d2d2;background-color:rgba(0,0,0,.3);}

#navigation h2 {position:absolute;background-color:#fff;color:#000;font-size:15px;line-height:1;padding:5px 10px;}
#navigation .connector {position:absolute;height:1px;background-color:#fff;}

#navigation #actions {margin:5px 0 0 0;}
#navigation #actions li {font-size:13px;line-height:15px;padding:5px 10px;text-align:center;background-color:#2980b9;margin:0 0 5px 0;cursor:pointer;}
#navigation #actions li:hover {background-color:#2977af;}

#navigation #info {margin:10px 0 0 0;}
#navigation #info li {font-size:15px;margin:0 0 10px 0;}

#city {position:absolute;top:21px;left:300px;}
#city #datapad {border-bottom:1px solid #fff;padding:0 50px;}
#city #datapad li {display:inline-block;font-size:14px;padding:5px 20px;margin:0 0 -1px 0;cursor:pointer;}
#city #datapad li.selected {border-width:1px;border-style:solid;border-color:#fff #fff #000 #fff;}
#city #datapad #selected-sector {border:none;margin:0 30px;background-color:#fff;color:#000;}
#city #datapad #wealth {text-align:right;margin:0 0 -1px 200px;}
#city #datapad #wealth div {display:inline-block;margin:0 20px;}
#city #datapad #wealth .cash {font-size:20px;color:#32ff0c;}
#city #datapad #wealth .laundered {color:#fff;}
#city #datapad #wealth .loan {color:#ff0c10;}
