body {font-family:'Open Sans', sans-serif;color:#fff;background:#000 url(/city.png) left top repeat-x;width:1200px;}

#navigation {margin:70px 50px 50px 50px;width:250px;}

#navigation #map {background:transparent url(/map.png) left top no-repeat;width:250px;height:250px;position:relative;}
#navigation #map div {position:absolute;width:68px;height:68px;border:1px solid #fff;cursor:pointer;}
#navigation #map div.selected {border:1px solid #fff82b;}
#navigation #map div:hover {border-color:#d2d2d2;background-color:rgba(0,0,0,.3);}

#navigation h2 {position:absolute;background-color:#fff;color:#000;font-size:15px;line-height:1;padding:5px 10px;}
#navigation .connector {position:absolute;height:1px;background-color:#fff;}

#navigation #actions {margin:5px 0 0 0;}
#navigation #actions li {font-size:13px;line-height:15px;padding:5px 10px;text-align:center;background-color:#2980b9;margin:0 0 5px 0;cursor:pointer;}
#navigation #actions li:hover {background-color:#2977af;}

#navigation #info {margin:10px 0 0 0;}
#navigation #info li {font-size:15px;margin:0 0 10px 0;}

#city {position:absolute;top:45px;left:300px;width:900px;}
#city #datapad {border-bottom:1px solid #fff;position:relative;}
#city #datapad #gps {}
#city #datapad #gps li {display:inline-block;font-size:14px;padding:5px 20px;margin:0 0 -1px 0;cursor:pointer;}
#city #datapad #gps li.selected {border-width:1px;border-style:solid;border-color:#fff #fff #000 #fff;}
#city #datapad #gps #selected-sector {border:none;margin:0 30px;background-color:#fff;color:#000;cursor:inherit;}
#city #datapad #wealth {position:absolute;top:-25px;right:0;}
#city #datapad #wealth div {margin:0 0 0 5px;display:inline-block;}
#city #datapad #wealth .cash {font-size:15px;color:#32ff0c;}
#city #datapad #wealth .laundered {color:#fff;font-size:10px;}
#city #datapad #wealth .loan {color:#ff0c10;font-size:10px;}

#street {margin:30px;}
#street h2 {font-size:15px;border-bottom:1px solid #fff;padding:0 0 5px 0;margin:0 0 5px 0;}
#street div {display:inline-block;vertical-align:top;}
#street .drugs {width:300px;}
#street .drugs ul {}
#street .drugs ul li {margin:0 0 5px 0;padding:5px;letter-spacing:-4px;cursor:pointer;}
#street .drugs ul li.selected {background-color:#383838;}
#street .drugs ul li span {font-size:13px;letter-spacing:normal;word-spacing:normal;display:inline-block;}
#street .drugs ul li .name {width:200px;}
#street .drugs ul li .price {width:60px;}
#street .drugs ul li .amount {width:30px;}
#street .transaction {width:200px;}
#street .transaction form {}
#street .transaction form fieldset {}
#street .transaction form fieldset legend {font-size:15px;width:190px;border-bottom:1px solid #fff;padding:0 10px 5px 10px;margin:0 0 5px 0;}
#street .transaction form fieldset ol {padding:0 10px;width:180px;}
#street .transaction form fieldset ol li {}
#street .transaction form fieldset ol li label {display:block;font-size:15px;margin:0 0 10px 0;}
#street .transaction form fieldset ol li input {display:block;font-size:20px;padding:5px;width:170px;border:none;}
#street .transaction form fieldset ol.shortcuts {margin:10px 0 0 0;}
#street .transaction form fieldset ol.shortcuts li {text-align:center;width:40px;display:inline-block;padding:5px 0;background-color:#fff;color:#000;margin:0 0 0 30px;cursor:pointer;}
#street .transaction form fieldset ol.shortcuts li:nth-child(1) {margin:0;}
#street .transaction form fieldset .control {padding:0 10px;margin:10px 0 0 0;}
#street .transaction form fieldset .control input {display:block;width:180px;text-align:center;padding:5px 0;background-color:#fff;color:#000;border:none;}
